@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply relative text-white bg-slate-900;
  }

  button {
    @apply transition-all duration-200 hover:scale-105;
  }

  input {
    @apply px-4 py-2 bg-slate-600 rounded-xl;
  }
}

@layer utilities {
  .btn {
    @apply self-start px-4 py-2 text-sm capitalize rounded-xl;
  }

  .btn-primary {
    @apply border bg-slate-700 border-slate-700 text-lime-400;
  }

  .btn-primary-outline {
    @apply border border-lime-400 text-lime-400;
  }

  .btn-danger {
    @apply text-white bg-red-600 border border-red-600;
  }

  .input-group {
    @apply flex flex-col gap-4;
  }

  .logo-hover:hover {
    @apply filter brightness-110 transition-all duration-300 ease-in-out hover:scale-105;
  }

  .mindcard-hover:hover {
    @apply text-indigo-200  no-underline transition-all duration-300 ease-in-out hover:scale-105;
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #111827;
}

::-webkit-scrollbar-thumb {
  background-color: #6b7280;
  border-radius: 0.5rem;
  border: 3px solid #111827;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4b5563;
}

nextjs-portal {
  display: none;
}

.mind-elixir-toolbar span:hover {
  cursor: pointer;
}

.mind-elixir-toolbar span:hover::after {
  padding: 8px 12px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  text-align: center;
  position: absolute;
  z-index: 10;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%) translateY(10px);
  font-size: 14px;
  visibility: visible;
  opacity: 1;
  white-space: nowrap;
}

.rb span:hover::after {
  transform: translateX(-50%) translateY(10px);
}

.lt span:hover::after {
  transform: translateX(-10%) translateY(10px);
}

#fullscreen:hover::after {
  content: "Fullscreen";
}

#toCenter:hover::after {
  content: "Back to Center";
}

#zoomout:hover::after {
  content: "Zoom Out";
}

#zoomin:hover::after {
  content: "Zoom In";
}

#tbltl:hover::after {
  content: "Align Branches to Left";
}

#tbltr:hover::after {
  content: "Align Branches to Right";
}

#tblts:hover::after {
  content: "Balance Branches";
}
